
@media (max-width: 768px) {
  .place__title_two-line {
    max-width: 320px;
    font-size: 42px;
    line-height: 1.095;
  }
}

@media (max-width: 425px) {
  .place__title {
    padding: 0 16px 0px 16px;
    font-size: 32px;
    line-height: 1.093;
  }
}
