.page {
  margin: 0 auto;
  padding: 28px 48px 24px 48px;
  max-width: 1280px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: #ffffff;
  /* vendor */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1024px) {
  .page {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 28px 0px 24px 0px;
  }
}

@media (max-width: 425px) {
  .page {
    padding: 16px 0px 24px 0px;
  }
}